*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main{ 
  background-color: rgb(48, 48, 48);
  background-image: radial-gradient(circle, #343434, #2b2b2b, #222222, #191919, #0f0f0f);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  color: aliceblue;
  align-items: center;
  margin: 0 auto;
  font-family: system-ui;
}

h1{
  font-size: 120px;
  margin-top: 20px;
}

p{
  margin-top: 20px;
  padding: 0px 120px;
  font-size: 25px;    
  font-style: italic;
}

button{
  margin-top: 30px;
  background-color: #555555; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  animation: transform ease 1s;
}

button:hover{
  background-color: black;
}

img{
  margin-top: 20px;
  width: 550px;
  height: 550px;
  border-radius: 20px;
  box-shadow: 8px 8px 15px 6px rgba(20, 20, 20, 0.75)
}